.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.left {
  float: left;
  text-align: right;
}

.right {

    float:right;
    text-align: right;

}

* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
}

h3 {
  font-size: 100px;
}
